.home-page-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 5em;
  max-width: 1150px;
  margin: auto;
  margin-bottom: 2em;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-animation {
  margin-bottom: 18em;
}

.no-results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}